.reviewsContainer {
  font-family: helvetica;
  font-size: .7em;
  color: black;
  display: flex;
  flex-direction: column;
  width: 66%;
  height: 100%;
  margin: auto;
}

.sectionTitle {
  margin: 10px;
  font-size: 1em;
}

.reviewsGrid {
  display: grid;
  grid-template-columns: 33% 66%;
  column-gap: .5em;
}

.gridCol1 {
  color: black;
  text-align: left;
}

.gridCol2 {
  color: black;
  text-align: left;
}

.reviewCounter {
  margin-top: 0px;
}

.averageRating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.averageRatingNumber {
  font-size: 4em;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}