.reviewsContainer {
  font-family: arial;
  font-size: .7em;
  color: black;
  display: flex;
  flex-direction: column;
  width: 66%;
  height: 100%;
  margin: auto;
}

.sectionTitle {
  margin: 0px;
  font-size: 1em;
  font-weight: lighter;
}

.reviewsGrid {
  display: grid;
  grid-template-columns: 33% 66%;
  column-gap: .5em;
}

.gridCol1 {
  color: black;
  text-align: left;
}

.gridCol2 {
  color: black;
  text-align: left;
}

.reviewCounter {
  margin-top: 0px;
}

.averageRating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.averageRatingNumber {
  font-size: 4em;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.reviewListEntry {
  padding-top: 10px;
}

.reviewBody {
  margin-top: 10px;
  margin-bottom: 10px
}

.separatorLine, hr {
  height: 1px;
  border: 0;
  color: #333;
  background-color: #333;
  width: 100%;
}

.listButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  padding: 1em 2em 1em 2em;
  background-color: lightgray;
  border-style: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}