.reviewsContainer {
  /* font-family: arial; */
  font-family: 'Poppins', sans-serif;
  font-size: .7em;
  color: black;
  display: flex;
  flex-direction: column;
  width: 66%;
  height: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.pointer:hover {
  cursor: pointer;
}

.sectionTitle {
  margin: 0px;
  font-size: 1.5em;
  font-weight: lighter;
}

.button:focus {outline:0;}

.dynamicUnderline:hover {
  text-decoration: underline;
}

.reviewsGrid {
  display: grid;
  grid-template-columns: 33% 66%;
  column-gap: 4em;
}

.gridCol1 {
  color: black;
  text-align: left;
}

.gridCol2 {
  color: black;
  text-align: left;
}

.reviewCounter {
  margin-top: 25px;
  margin-right: 3px;
}

.sortText {
  font-weight: bold;
}

.arrow {
  font-weight: normal;
}

.sortText.pointer {
  cursor: pointer;
}

.averageRating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.averageRatingNumber {
  font-size: 4em;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.recText {
  font-size: .5em;
}

/* Ratings Breakdown Graph */

.distribution {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
}

.ratingLabel {
  align-items: center;
  border-radius: 0;
  display: inline-flex;
  justify-content: flex-start;
  background-color: transparent;
  color: #000;
  text-align: left;
  text-decoration: underline;
}

.barGraph {
  flex-grow: 1;
  margin-left: 10px;
  background-color: #ebedee;
  box-sizing: border-box;
  height: .5em;
}

.barFill {
  height: .5em;
  background-color: #9BB7D4;
}

.bar {width: 0%; height: 7px; padding-left: 10px; background-color: rgb(66, 63, 63);}


.characteristicsContainer {
  margin-top: 15px;
}

.comparisonBarWrapper {
  display: grid;
}

.comparisonBarWrapper, .comparisonTriangle {
  grid-area: 1 / 1;
  /* padding-bottom: 20px; */
}

.comparisonBarTitle {
  font-size: 1em;
  font-weight: bolder;
  padding-bottom: 7px;
  margin-top: 5px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 7.5px 0 7.5px;
  border-color: #9BB7D4 transparent transparent transparent;
  z-index: 10;
}

.comparisonBarLabels {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  font-size: .5em;
}

.comparisonBarLine {
  background-color: #ebedee;
  height: 5px;
  overflow: visible;
  position: relative;
}

.comparisonTriangle {
  margin-top: -3px;
  position: absolute;
  left: 50%;
}

.reviewListEntry {
  font-size: .5em;
  padding-top: 10px;
  border-bottom: 1px solid black;
}

.reviewTitle {
  font-weight: bold;
}

.starsAndDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nameDate {
  font-size: .4em;
  color: rgb(177, 180, 180);
  margin-right: 3px;
  align-items: center
}

.helpfulRow {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.helpfulText {
  padding-right: 10px;
}

.reviewBody {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
}

.listButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
}

.button {
  padding: 1em 2em 1em 2em;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  margin-bottom: 10px;
}

.button:hover {
  cursor: pointer;
  color: #9BB7D4;
  border-color: #9BB7D4 ;
}

/* NEW REVIEW STYLES */

.newReview {
  /* background-color: hsl(210, 16%, 90%); */
  background-color: white;
  color: black;
  padding: 10px;
}

.newReviewTitle {
  margin: 0px;
  text-align: center;
  font-weight: lighter;
  font-size: 2em;
}

.titleRow {
  width: 100%;
}

.newReviewAbout {
  margin: 0px;
  text-align: center;
  font-weight: lighter;
}

.smallText {
  font-size: .5em;
}

/* .alignedRow {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.center {
  align-items: center
}

.center label {
  margin-bottom: 5px;
}

.newStarRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

.reviewInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  margin-bottom: 10px;
}

.textInput input[type="text"], input[type="email"], textarea {
  padding: 10px;
  /* border: 1px solid black; */
  border: none;
  background-color:white;
  border: 1px solid #9BB7D4;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
}

.textInput textarea:focus, input[type="email"]:focus, input[type=text]:focus {
  outline: none;
  border: 1px solid #9BB7D4;
}

input[type="text"] {
  font-family: arial;
  font-size: .8em;
  font-weight: lighter;
  width: 66%;
}

.nickname {
  margin-right: 10px;
}

.textInput textarea {
  font-family: arial;
  font-weight: lighter;
  font-size: .8em;
  resize: none;
}

.inlineForm {
  justify-content: space-between;
}

/* New Review Characteristics */

.radioGroup {
  display: flex;
  flex-direction: column;
  align-items: left;
  border-top: 1px solid #9BB7D4;
  border-bottom: 1px solid #9BB7D4;
}

.radioGroupTitle {
  font-size: 1em;
  font-weight: bolder;
  margin: 0px;
  margin-top: 10px;
}

.radioRow {
  display: flex;
  flex-direction: row;
  font-size: .5em;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
  flex-shrink: inherit;
}

/* .radioRow input[type=radio] {
  display: block;
  margin: 0 auto;
  padding-right: 30px;
}

.radioRow label {
  display: inline-block;
  padding-right: 30px;
} */

.radioCatTitle {
  font-size: 2em;
  margin: 0px 0px 0px 3px;
  padding-right: 10px;
  width: 5em;
  text-align: left;
}

.radioPair {
  display: inline-block;
  text-align: center;
  width: 18em;
}

.radioPair input[type="radio"]:hover {
  cursor: pointer;
}

.radioPair label {
  display: block;
  font-size: 8px;
}

.buttonRow {
  text-align: right;
  padding-top: 10px;
}

.submitReviewButton {
  width: 25%;
  padding: 10px;
}

/* Modal */

.modal {
  position: fixed;
  z-index: 20;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modalContent {
  /* position: relative;
  background-color: transparent;
  margin: 0 auto;
  width: auto;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  box-shadow: 0 10px 25px rgba(0,0,0,.5)!important
}

/* .modalActions {
  width: 100%;
  background-color: red;
} */

.modalCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  border-style: none;
  background-color: transparent;
}

.modalCloseButton:hover {
  cursor: pointer;
}

.fadeIn {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.4s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* #2ada71 */