.Qlist {
list-style-type: none;
margin: 0 0 3px 0;
font-family: 'Open Sans',sans-serif;

}
.quest{
  display: inline;
  position: relative;
  left: 100px;


}

.button{
  padding: 0;
  border: none;
  background: none;
  text-decoration:underline;
  display: inline;
  outline:none;
}
.button:hover{
  text-decoration: none;
}
.help{
  display: inline;
}
.helpNum{
  display: inline;
}
.userbyA{
  display: inline;
}
.helpfulA{
  display: inline;
}
.helpfulQ{
  display: inline;
}
.buttonQ{
  padding: 0;
  border: none;
  background: none;
  text-decoration:underline;
  display: inline;
  outline:none;
  font-size: 16px;
}
.buttonQ:hover{
  text-decoration:none;
  color: lightslategray;
}
.helpDiv{
  float: right;
}
.SearchQnA{
height: 30px;
width: 550px;
border: none;
background: none;
outline:none;
}
.searhGlass{
  height: 35px;
  padding: 0;
  border: none;
  background: none;
  display: inline;
  outline:none;
}
.image{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;


  display: block;
  max-width:730px;
  max-height:160px;
  width: auto;
  height: auto;
  display: inline;
}
.image:hover{
  transform: scale(1.2);
  border: 2px solid rgb(78, 78, 78);
}

.a{
    display: inline;
    position: relative;


}
.answer{
  position: relative;
  display: inline;
  left: 25px;


}
.imageDiv{
  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(4px);
}


.imageModal{
  position: relative;
  top: 15%;
  background-color: none;
  margin: 0 auto;
  padding: 20px;
  width: 70%;
}
.imageM{
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 1090px; /* you can use % */
  height: auto;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}
.Mbutton{
  padding: 0;
  border: none;
  background: none;
  display: inline;
  outline:none;
  font-size: 16px;

  left: 30%;
 position:relative;

}
.Mbutton:hover{
  color: lightgray;
}

.addAnswerBtn{
  position: relative;
  left: 150px;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;

}
.addAnswerBtn:hover{
  color: #ffffff !important;
  background: #494949 !important;
  border-color:  #494949 !important;
  transition: all 0.4s ease 0s;
}
.load{
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
.load:hover{
  color: #ffffff !important;
  background: #494949 !important;
  border-color:  #494949 !important;
  transition: all 0.4s ease 0s;
}


.lessQ{
  position: relative;
  left: 380px;
  color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 10px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s
  }
  .lessQ:hover{
    color: #ffffff !important;
    background: #494949 !important;
    border-color:  #494949 !important;
    transition: all 0.4s ease 0s;
  }

.less{
position: relative;
left: 200px;
color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s
}
.less:hover{
  color: #ffffff !important;
  background: #494949 !important;
  border-color:  #494949 !important;
  transition: all 0.4s ease 0s;
}

.qDiv{
  position: relative;
  top: 15%;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  width: 30%;
  height: 25%;
  overflow: hidden;
}
.Qbutton{
  padding: 0;
  border: none;
  background: none;
  display: inline;
  outline:none;
  font-size: 16px;
  bottom: 250px;
 left: 84%;
 position:relative;
 left: 670px;

}
.Qbutton:hover{
  color: lightgray;
}
  .pagebody{
    width: 1200px;
    position: relative;
    left: 400px;

    margin-bottom: 30px;
  }
.tittle{
  width: 1000px;
    position: relative;
    left: 500px;
    font-family: 'Open Sans',sans-serif;
}
.searchborderQ{
  width: 1000px;
    position: relative;
    left: 500px;
}
.formsearch{
  width: 581px;
  border: groove;
}

.questBody{
display: inline;

position: relative;
left: 100px;
font-size: large;

}

.container{
  background-color:none;
  width: 600px;
  height: 220px;
  position: relative;
  left: 500px;

}
.container img{
  width: 100%;
  height: auto;
}
.MoreQue{
  position: relative;
  left: 200px;
  color: #494949 !important;
text-transform: uppercase;
text-decoration: none;
background: #ffffff;
padding: 10px;
border: 4px solid #494949 !important;
display: inline-block;
transition: all 0.4s ease 0s;
}
.MoreQue:hover{
  color: #ffffff !important;
  background: #494949 !important;
  border-color:  #494949 !important;
  transition: all 0.4s ease 0s;
}


.Addque{
  position: relative;
  left: 287px;
  color: #494949 !important;
text-transform: uppercase;
text-decoration: none;
background: #ffffff;
padding: 10px;
border: 4px solid #494949 !important;
display: inline-block;
transition: all 0.4s ease 0s;
}

.Addque:hover{
  color: #ffffff !important;
  background: #494949 !important;
  border-color:  #494949 !important;
  transition: all 0.4s ease 0s;
}
.AnswersDiv{
  position: relative;
  max-width:510px;
  left:200px;
  word-wrap: break-word;
  margin-top: 30px;
}
.AnswersDivScroll{
  overflow: auto;
  overflow-x: hidden;

  position: relative;
  max-width:510px;
  max-height: 450px;
  left:200px;
  word-wrap: break-word;
  margin-top: 30px;
}

.questContainer{
  display: inline;
  position: relative;
  margin-top: 5px;
word-wrap: break-word;
width: 800px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
.questbuttons{
position: relative;
left: 200px;
}

.invisible{
  background: transparent;
  border: none !important;
  color: white;
  outline: none;
  padding-left: 176px;
}

.addX{
  padding: 0;
  border: none;
  background: none;
  display: inline;
  outline:none;
  font-size: 16px;
}
.addX:hover{
  color: lightgray;
}

.backgroundA{
  background-color: rgb(236, 236, 236);
  border-right: groove;
  border-left:groove ;
}
.AnswerInput{
  position: relative;
  left: 100px;
  width: 550px;
  max-width: 550px;
  min-width: 550px ;
  height: 50px;
  max-height: 50px;
  min-height: 50px;

}
.typeB{
  border:groove;
  padding: 10px;
  height: 275px;
  background-color: rgb(236, 236, 236);
}

.imagePreviewPic{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  display: block;
  max-width:330px;
  max-height:70px;
  width: auto;
  height: auto;
  display: inline;
}
.imagePreviewPic:hover{
  transform: scale(1.2);
  border: 2px solid rgb(78, 78, 78);
}
.SubmitAnswerbtn{
  position: relative;
  top: 50px;
}
.questionTextarea{
  position: relative;
  max-width: 250px;
  min-width: 250px;
  width: 250px;
  max-height: 250px;
  min-height: 250px;
  height: 250px;
  bottom: 50px;
}
.emailTextarea{
  position: relative;
  margin: 10px;
  bottom: 200px;
}
.usernameTextarea{
  position: relative;
  margin: 10px;
  bottom: 200px;
}
.askUrQ{
  position: relative;
  left: 250px;
  bottom: 40px;
}
.subtext{
  position: relative;
  bottom: 60px;
  left: 150px;
}

