.Qlist {
list-style-type: none;
margin: 0 0 3px 0;
font-family: 'Open Sans',sans-serif;
height: 20%;

}
.quest{
  display: inline;
  position: relative;
  left: 100px;


}

.button{
  padding: 0;
  border: none;
  background: none;
  text-decoration:underline;
  display: inline;
  outline:none;
}
.button:hover{
  text-decoration: none;
}
.help{
  display: inline;
}
.helpNum{
  display: inline;
}
.userbyA{
  display: inline;
}
.helpfulA{
  display: inline;
}
.helpfulQ{
  display: inline;
}
.buttonQ{
  padding: 0;
  border: none;
  background: none;
  text-decoration:underline;
  display: inline;
  outline:none;
  font-size: 16px;
  margin-left: 5px;
}
.buttonQ:hover{
  text-decoration:none;
  color: lightslategray;
}
.helpDiv{
  float: right;
}
.SearchQnA{
height: 30px;
width: 550px;
border: none;
background: none;
outline:none;
}
.searhGlass{
  height: 35px;
  padding: 0;
  border: none;
  background: none;
  display: inline;
  outline:none;
}
.image{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;


  display: block;
  max-width:730px;
  max-height:160px;
  width: auto;
  height: auto;
  display: inline;
}
.image:hover{
  transform: scale(1.2);
  border: 2px solid rgb(78, 78, 78);
}

.a{
    display: inline;
    position: relative;


}
.answer{
  position: relative;
  display: inline;
  left: 36px;
  top: 35px


}
.imageDiv{
  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(4px);
}


.imageModal{
  position: relative;
  top: 15%;
  background-color: none;
  margin: 0 auto;
  padding: 20px;
  width: 70%;

}
.imageM{
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 1090px; /* you can use % */
  height: auto;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}
.Mbutton{
  padding: 0;
  border: none;
  background: none;
  display: inline;
  outline:none;
  font-size: 16px;

  left: 30%;
 position:relative;

}
.Mbutton:hover{
  color: lightgray;
}

.addAnswerBtn{
  position: relative;
  left: 150px;
  padding: 1.5em 2em;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  margin-bottom: 10px;
  transition: 0.3s;

}
.addAnswerBtn:hover{
  cursor: pointer;
  color: white;
  background-color: black;
}
.load{
  padding: 1.5em 2em;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  margin-bottom: 10px;
  transition: 0.3s;
}
.load:hover{
  cursor: pointer;
  color: white;
  background-color: black;
}


.lessQ{
  position: relative;
  left: 380px;
  padding: 1.5em 2em;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  margin-bottom: 10px;
  transition: 0.3s;
  }
  .lessQ:hover{
    cursor: pointer;
    color: white;
    background-color: black;
  }

.less{
position: relative;
left: 200px;
padding: 1.5em 2em;
background-color: transparent;
border-style: solid;
border-width: 1px;
font-weight: bold;
margin-bottom: 10px;
transition: 0.3s;
}
.less:hover{
  cursor: pointer;
  color: white;
  background-color: black;
}

.qDiv{
  position: relative;
  top: 15%;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  width: 33%;
  height: 30%;
  overflow: hidden;

}
.Qbutton{
  padding: 0;
  border: none;
  background: none;
  display: inline;
  outline:none;
  font-size: 16px;
  font-size: 16px;
  bottom: 369px;
 left: 84%;
 position:relative;
 left: 750px;

}
.Qbutton:hover{
 color: lightgrey;
}
  .pagebody{
    width: 70%;
    position: relative;
    left: 400px;

    margin-bottom: 30px;
  }
.tittle{
  width: 1000px;
    position: relative;
    left: 500px;
    font-family: 'Open Sans',sans-serif;
}
.searchborderQ{
  width: 1000px;
    position: relative;
    left: 500px;
}
.formsearch{
  width: 581px;
  border: groove;
}

.questBody{
display: inline;

position: relative;
left: 100px;
font-size: large;

}

.container{
  background-color:none;
  width: 600px;
  height: 220px;
  position: relative;
  left: 500px;

}
.container img{
  width: 100%;
  height: auto;
}
.MoreQue{
  position: relative;
  left: 200px;
  padding: 1.5em 2em;
background-color: transparent;
border-style: solid;
border-width: 1px;
font-weight: bold;
margin-bottom: 10px;
transition: 0.3s;
}
.MoreQue:hover{
  cursor: pointer;
  color: white;
  background-color: black;
}


.Addque{
  position: relative;
  left: 287px;
  padding: 1.5em 2em;
background-color: transparent;
border-style: solid;
border-width: 1px;
font-weight: bold;
margin-bottom: 10px;
transition: 0.3s;
}

.Addque:hover{
  cursor: pointer;
  color: white;
  background-color: black;
}
.AnswersDiv{
  position: relative;
  max-width:55%;
  left:200px;
  word-wrap: break-word;
  margin-top: 30px;
}
.AnswersDivScroll{
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  max-width:55%;
  max-height: 450px;
  left:200px;
  word-wrap: break-word;
  margin-top: 30px;
}

.questContainer{
  display: inline;
  position: relative;
  margin-top: 5px;
word-wrap: break-word;
width: 800px;
}

hr {

  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.questbuttons{
position: relative;
left: 200px;
}

.invisible{
  background: transparent;
  border: none !important;
  color: white;
  outline: none;
  padding-left: 176px;
}

.addX{
  padding: 0;
  border: none;
  background: none;
  display: inline;
  outline:none;
  font-size: 16px;
}
.addX:hover{
  color: lightgray;
}

.backgroundA{
  border-style: solid;
  border-width: 1px;
  background-color: rgb(255, 255, 255);
}
.AnswerInput{
  position: relative;
  left: 100px;
  width: 550px;
  max-width: 550px;
  min-width: 550px ;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  margin: 10px;

}
.typeB{
  border:groove;
  padding: 10px;
  height: 335px;
  background-color: rgb(236, 236, 236);
}

.imagePreviewPic{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  display: block;
  max-width:330px;
  max-height:70px;
  width: auto;
  height: auto;
  display: inline;
}
.imagePreviewPic:hover{
  transform: scale(1.2);
  border: 2px solid rgb(78, 78, 78);
}
.SubmitAnswerbtn{
  position: relative;
  top: 50px;
  padding: 1.5em 2em;
  background-color: white ;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  margin-bottom: 10px;
  transition: 0.3s;
}

.SubmitAnswerbtn:hover{
  cursor: pointer;
  color: white;
  background-color: black;
}
.questionTextarea{
  position: relative;
  max-width: 250px;
  min-width: 250px;
  width: 250px;
  max-height: 250px;
  min-height: 250px;
  height: 250px;
  bottom: 50px;
}
.emailTextarea{
  position: relative;
  margin: 10px;
  bottom: 200px;
  width: 230px;
}
.usernameTextarea{
  position: relative;
  margin: 10px;
  bottom: 200px;
}
.askUrQ{
  position: relative;
  left: 250px;
  bottom: 30px;
}
.subtext{
  position: relative;
  bottom: 50px;
  left: 150px;
}
.SubmitQ{
  position: relative;
  left: 570px;
  bottom: 100px;
  padding: 1.5em 2em;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  margin-bottom: 10px;
  transition: 0.3s;


}
.SubmitQ:hover{
  cursor: pointer;
  color: white;
  background-color: black;
}
.userbyAdiv{
  position: relative;
  left: 10%;
  top: 15px;
}

.photosDiv{
  margin: 20px;
}

.imagePreviewDivtext{
  position: relative;
  border: groove;
  margin:15px;
  top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

}
.Qhr{
  margin-top: 10px;
  margin-bottom: 10px;

}