.gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}
.image {
    object-fit: cover;
    max-width: 100%;
    max-height: 600px;
    /* margin-left: 10px;
    margin-right: 10px; */
}
.arrow {
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow:hover {
    cursor: pointer;
    /* color: rgba(28, 87, 195, 0.897) */
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.787);
    transition: 0.3s;
}