.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 700px;
    background-color: #e5e5e598;
    margin-right: 15px;
    /* touch-action: pan-y;
    transition: 1s all ease-in-out;
    transition: smooth;
    overflow: hidden; */
}

.image {
    object-fit: cover;
    max-width: 100%;
    max-height: 700px;
    margin-right: 15px;
}

.imageSlide {
    object-fit: cover;
    max-width: 100%;
    max-height: 700px;
    margin-right: 15px;
    transition: 0.4s ease-in-out;
}

.arrow {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10%;
}

.arrow:hover {
    cursor: pointer;
    color: whitesmoke;
    background-color: #14213d;
    transition: 0.15s;
}