.thumbnailContainer {
    display: flex;
    flex-flow: row wrap;
    width: 500px;
    height: 250px;
    margin-left: 15px;
    margin-top: 15px;
}

.thumbnail {
    width: 90px;
    height: 90px;
    margin: 10px;
    object-fit: cover;
}

.thumbnail:hover {
    cursor: pointer;
    border-bottom: 5px solid #fca311;
    transform: scale(1.1);
    transition: 0.05s;
}

.selectedThumbnail {
    width: 90px;
    height: 90px;
    margin: 10px;
    transition: 0.3s;
    object-fit: cover;
    border-bottom: 5px solid #fca311;
}

.textContainer {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.style {
    flex: 1;
    font-weight: 800;
    width: 20px;
}

.selectedName {
    display: flex;
    font-weight: 100;
    margin-right: 260px;
}