#RelatedProductsList {
  display: grid inline-block;
  border: solid 1px black;
  justify-content: space-between;
}

.leftArrow {
  float:left;
  align-self: center;
  justify-content: flex-start;
}

.rightArrow {
  float: right;
  align-self: center;
  justify-content: flex-end;
  order: 2;

}

.CardEntry {
  /* justify-content:space-between; */
  display:grid;
  border: solid 1px black;
  max-width: 10%;
  margin: 3%;
  display: inline-block;
  height: 80%;
  min-height: 100%;
  order: 1;
  transition: 2s;
  left:0;
}

.prodcompare {
  float:right;
  color:purple;
}

.prodimgdiv {
  width: 100%;
  height: 100px;
  /* background-color:brown; */
  /* background-image:url("https://images.unsplash.com/photo-1517720359744-6d12f8a09b10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80") */
}

.prodimg{
  color: red;
  width:100%;
  height:100%;
  object-fit: contain;
}

.prodcategory {
  color: orange
}

.prodname {
  color: black;
}

.prodprice {
  color: green;
}

.prodrating {
  color: blue;
}

.Go {
  width: 40%;
  float: left;
}

.infobox{
  width: 100%;
  /* border: 1px solid black; */
}

#testcara {
  overflow: hidden;
}
#testcara:figure {
   position: relative;
   width: 500%;
   margin: 0;
   left: 0;
   animation: 20s slider infinite;
}