.container {
    margin-left: 20px;
}
.category {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 8px;
}
.name {
    font-size: 45px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 15px;
}
.defaultPrice {
    margin-top: 10px;
    font-size: 18px;
}
.defaultStrikethrough {
    margin-top: 10px;
    font-size: 18px;
    text-decoration: line-through;
}
.salePrice {
    margin-top: 10px;
    font-size: 18px;
    color: red;
}