.container {
    margin-left: 20px;
    height: 140px;
}

.category {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 8px;
}

.name {
    font-size: 45px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 22px;
}

.defaultPrice {
    color:rgb(56, 56, 56);
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 30px;
}

.defaultStrikethrough {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 30px;
}

.salePrice {
    color: red;
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 30px;
}