.container {
  display: flex;
  justify-content: center;
  max-height: 400px;
  /* margin-top: 40px; */
  margin-bottom: 100px;
}

.rowContainer {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.colContainer {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  margin-right: 10px;
}

.textContainer {
  margin-left: 100px;
  margin-right: 80px;
  width: 600px;
}

.slogan {
  font-size: 20px;
  font-weight: bold;
}

.description {
  color: rgb(51, 49, 49)
}

.featureChecklist {
  max-height: 140px;
  border-left: 2px solid #14213dc9;
  padding-left: 40px;
  padding-top: 25px;
  margin-top: 8px;
  margin-bottom: 15px;
  margin-right: 200px;
}

.feature {
  color:rgba(44, 42, 42, 0.972);
  font-weight: 100;
  padding-left: 10px;
}